.businessContainer {
  .business {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    text-align: center;
    &>div {
      background-color: #000;
      padding: 1rem 0;
      p {
          font-size: 1rem;
          margin-top: 1.2rem;
      }
      h3 {
        margin: 0;
      }
      div {
        padding-top: 15px;
        button {
          background-color: #333;
          color: #fff;
          padding: 10px;
          border: none;
          margin: 0 10px;
          border-radius: 5px;
          font-size: 1rem;
          transition: .3s all;
          cursor: pointer;
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
    img {
        width: 100px;
    }
    p, h3 {
      cursor: pointer;
    }
  }
  .backBM {
    height: 25px;
    span {
      font-size: 20px;
      cursor: pointer;
    }
  }
  h2 {
    margin: 10px 0;
  }
}
