.login {
  width: 100%;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  .logo {
    width: 50%;
    height: 100%;
    &>div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    img {
      width: 250px;
      margin: 0 auto;
    }
  }
  .loginWrapper {
    padding: 0 70px;
    width: 50%;
    height: 100%;
    background-color: #F9F1E3;
    button {
      width: 100%!important;
    }
    &>div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .name {
    color: #212121;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .title {
    margin-bottom: 17px;
    font-size: 18px;
  }
  .privacyPolicy {
    background: transparent;
    border: 1px #000 solid;
    padding: 10px;
    border-radius: 0;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s all;
    font-size: 16px;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

